<input type="hidden" name="{{ widget.name }}" value="{{ widget.value|safe }}" id="metadata_input_{{ widget.name }}">
<div class="container-fluid h-100 w-100" id="metadata_container_{{ widget.name }}"></div>
<script type="text/javascript">
  const value = JSON.parse('{{ widget.value|safe }}');
  const schema = JSON.parse('{{ widget.attrs.schema|safe }}');

  SeliaJSONForm.default({
    value: value,
    schema: schema,
    inputId: 'metadata_input_{{ widget.name }}',
    containerId: 'metadata_container_{{ widget.name }}',
    submitId: 'formSubmit',
  });
</script>
