{% extends "gis/openlayers-osm.html" %}
{% load i18n l10n %}

{% block map_css %}{% get_current_language_bidi as LANGUAGE_BIDI %}
.ol-zoom-in { background-color: transparent!important; color: var(--secondary)!important; }
.ol-zoom-out { background-color: transparent!important; color: var(--secondary)!important; }
.ol-zoom { background-color: transparent!important; }
#{{ id }}_map { width: 100%; height: 100%; }
#{{ id }}_map .aligned label { float: inherit; }
#{{ id }}_div_map { height: 100%; position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
{% if not display_raw %}#{{ id }} { display: none; }{% endif %}
{% endblock %}


{% block map_options %}{{ block.super }}
MapWidget.prototype.createMap = function() {
        var map = new ol.Map({
            target: this.options.map_id,
            layers: [this.options.base_layer],
            view: new ol.View({
                zoom: this.options.default_zoom
            }),
            controls: ol.control.defaults({
              attribution: false,
              zoom: true,
            }),
        });
        return map;
    };
{% endblock %}
